[submodule "bus"]
	path = bus
	url = git@github.com:jyrimatti/businfo.git
[submodule "console"]
	path = console
	url = git@github.com:jyrimatti/webconsole.git
[submodule "dev_*16"]
	path = dev_*16
	url = git@github.com:jyrimatti/dev_star16.git
[submodule "dev_*15"]
	path = dev_*15
	url = git@github.com:jyrimatti/dev_star15.git
[submodule "dev_*14"]
	path = dev_*14
	url = git@github.com:jyrimatti/dev_star14.git
[submodule "dev_*"]
	path = dev_*
	url = git@github.com:jyrimatti/dev_star.git
[submodule "dev_**"]
	path = dev_**
	url = git@github.com:jyrimatti/dev_star2.git
[submodule "24-days-2012"]
	path = 24-days-2012
	url = git@github.com:jyrimatti/24-days-2012.git
[submodule "stiebel"]
	path = stiebel
	url = git@github.com:jyrimatti/stiebel.git
[submodule "uitesteri"]
	path = uitesteri
	url = git@github.com:jyrimatti/uitesteri.git
[submodule "dev_*18"]
	path = dev_*18
	url = ./dev_*18
